<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="#" class="navbar-brand">IDGS903-Tareas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarIDGS903"
    aria-controls="navbarIDGS903" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="my-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="#" class="nav-link" routerLinkActive="active" routerLink="Cinepolis">
          CINEPOLIS
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="Distancia">
          DISTANCIA
        </a>
      </li>
      <i class="nav-item">
        <a href="#" class="nav-link" routerLink="Resistencia">
          RESISTENCIA
        </a>
      </i>
      <i class="nav-item">
        <a href="#" class="nav-link" routerLink="Pizza">
          PIZZA
        </a>
      </i>
    </ul>
  </div>
</nav>