<div class="container_form">
  <div class="form">
    <h1>DISTANCIA ENTRE DOS PUNTOS</h1>
    <mat-form-field>
      <input type="text" matInput placeholder="NOMBRE" [(ngModel)]="nombre">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="NÚMERO DE COMPRADORES" [(ngModel)]="numCompradores">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="NÚMERO DE BOLETOS" [(ngModel)]="numBoletos">
    </mat-form-field>

    <mat-radio-group name="opciones" [(ngModel)]="tarjeta">
      <mat-label class="mat-primary">DESCUENTO CON TARJETA:</mat-label>
      <mat-radio-button name="opciones" value="SI">
        SI
      </mat-radio-button>
      <mat-radio-button name="opciones" value="NO">
        NO
      </mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button color="success" (click)="procesarCompra()">PAGAR BOLETOS</button>
  </div>
  <div class="result">
    <h2>
      {{ mensaje }}
    </h2>
  </div>
</div>